@page "/chat"
@using AirChat.API.Services
@using AirChat.Contract
@inject AirChatServiceClient client;

<PageTitle>Counter</PageTitle>

<h1>Counter</h1>

<PageTitle>Counter New</PageTitle>

<InputText @bind-Value="Name" Label="Type name" Variant="Variant.Outlined" ></InputText><br />
<InputText @bind-Value="Text" Label="Type message" Variant="Variant.Outlined"></InputText><br />

<button Color="Color.Primary" Variant="Variant.Filled" @onclick="GetMessages">Get Messages</button><br />
<button Color="Color.Primary" Variant="Variant.Filled" @onclick="PostMessage">Post Message</button>

@foreach (var message in messages)
{
    <p>@message.Name: @message.Text</p>
}


@code {

    string Name;
    string Text;

    List<Message> messages = new();

    private async void PostMessage()
    {
        await client.SendMessageAsync( Name, Text);
    }

    private async void GetMessages()
    {
        messages = await client.GetMessagesAsync();
        StateHasChanged();
    }
}
