@page "/counter"
@using AirChat.API.Services
@using AirChat.Contract
@rendermode InteractiveWebAssembly
@inject AirChatServiceClient client;

<MudPopoverProvider />
<MudDialogProvider />
<MudSnackbarProvider />

<PageTitle>Counter New</PageTitle>

<MudTextField @bind-Value="Name" Label="Type name" Variant="Variant.Outlined"></MudTextField>
<MudTextField @bind-Value="Text" Label="Type message" Variant="Variant.Outlined"></MudTextField>

<MudButton Color="Color.Primary" Variant="Variant.Filled" @onclick="GetMessages">Get Messages</MudButton>
<MudButton Color="Color.Primary" Variant="Variant.Filled" @onclick="PostMessage">Post Message</MudButton>

@foreach (var message in messages)
{
    <p>@message.Name: @message.Text</p>
}


@code {

    string Name;
    string Text;

    List<Message> messages = new();

    private async void PostMessage()
    {
        await client.SendMessageAsync( Name, Text);
    }

    private async void GetMessages()
    {
        messages = await client.GetMessagesAsync();
        StateHasChanged();
    }
}
